POSTGRES_ADMIN_PASSWORD=

AUTH_DB_NAME=auth_db
AUTH_DB_USERNAME=auth_service_user
AUTH_DB_PASSWORD=
AUTH_DB_URL=jdbc:postgresql://localhost:5433/auth_db

JWT_ISSUER=secure-bank-auth-service
JWT_AUDIENCE=secure-bank-api
JWT_ACCESS_TOKEN_TTL=PT10M
JWT_REFRESH_TOKEN_TTL=P7D
JWT_REFRESH_TOKEN_FAMILY_TTL=P30D

ACCOUNT_DB_NAME=account_db
ACCOUNT_DB_USERNAME=account_service_user
ACCOUNT_DB_PASSWORD=
ACCOUNT_DB_URL=jdbc:postgresql://localhost:5433/account_db
